
/* Tamanho Carousel e imagem */
.tam-carousel-img, img.img-tam{
    height: 600px;
  }

/* modals */
.img-tam-mod-apoio{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    width: 40%;
}  

/*rodapé*/

ul{ /*links de conheça.., apoio, redes sociais*/
    padding-inline-start: 0px;
}

/* icones */
.icon-social{
    font-size: 30px;
}

/* Estilo de texto */

h2{
    font-weight: bold!important;
    color: white;
}
span{
    color: #007bff !important;
    font-weight: bold;
}
p.lead{
    font-weight: bold;
    color: white;
}
p#white-bold{
    font-weight: bold;
    color: white;
}

/* responsividade */