
/* Tamanho Carousel e imagem */
.tam-carousel-img, img.img-tam{
    height: 600px;
  }

/* modals */
.img-tam-mod-apoio{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    width: 40%;
}  

/*rodapé*/

ul{ /*links de conheça.., apoio, redes sociais*/
    padding-inline-start: 0px;
}

/* icones */
.icon-social{
    font-size: 30px;
}

/* Estilo de texto */

h2{
    font-weight: bold!important;
    color: white;
}
span{
    color: #007bff !important;
    font-weight: bold;
}
p.lead{
    font-weight: bold;
    color: white;
}
p#white-bold{
    font-weight: bold;
    color: white;
}

/* responsividade */
@media screen and (max-width:736px){
    #img{
        width:70%; 
        display: flex;
        align-items: center;
        left: 19%;
        margin-top: -50px;
        margin-bottom: -50px;
    }
    #ajuste{
        width:70%; 
        left: 15%;
    }
   #centralizar{
       font-size: 32px;
       text-align: center;
   }
   #lead{
       font-size: 15px;
       text-align: center;
   }

   #esp{
    margin-top: -70px;
    margin-bottom: -70px;
   }
}